<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img1 img{
            height: 70vh;
            width: 70%;
        }
    </style>
</head>
<body>
    
        <form action="/test_data" method="post">
            <br><br><b><span style = "font-size: 25px;" >Food</span></b><input type="checkbox" name="category" value="Food"><br><br>
            <b><span style = "font-size: 25px;">Online</span></b> <input type="checkbox" name="category"  value="Online"><br><br>
            <b><span style = "font-size: 25px;">Travel</span></b> <input type="checkbox" name="category"  value="Travel"><br><br>
            <b><span style = "font-size: 25px;">Medical</span></b> <input type="checkbox" name="category"  value="Medical"><br><br>
            <b><span style = "font-size: 25px;">Friends</span></b> <input type="checkbox" name="category"  value="Friends"><br><br>
            <b><span style = "font-size: 25px;">General</span></b> <input type="checkbox" name="category"  value="General"><br><br>
            <b><span style = "font-size: 25px;">Academic</span></b> <input type="checkbox" name="category"  value="Academic"><br><br>
            <b><span style = "font-size: 25px;">Entertainment</span></b> <input type="checkbox" name="category"  value="Entertainment"><br><br>
            <b><span style = "font-size: 25px;">Other</span></b> <input type="checkbox" name="category"  value="Other"><br><br>
            <!-- <b><span style = "font-size: 25px;">Email</span></b> <input type="checkbox" name="d" class="d"><br> -->
            <br><button type="submit">enter</button>
    
        </form>
        <h1>{{msg}}</h1>

        <div class="img1">
            <img src="static//my_expense.png" alt="">
        </div>
</form>
</body>
</html>